*.iml
.gradle
/local.properties
/app/src/main/java/.idea/caches
/app/src/main/java/.idea/libraries
/app/src/main/java/.idea/modules.xml
/app/src/main/java/.idea/workspace.xml
/app/src/main/java/.idea/navEditor.xml
/app/src/main/java/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
